Package: com.garrepi.stife
Name: stife
Architecture: iphoneos-arm
Description: Supress certain lockscreen notifications.
Maintainer: garrepi
Author: garrepi
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-48+debug
Installed-Size: 220
